<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <variable name="logDirectory" value="${basedir}/bin/logs"/>
  <extensions>
    <add assembly="WebApi.NLog" />
  </extensions>
  <targets>
    <target name="logfile" xsi:type="File" fileName="${logDirectory}/${date:format=yyyy-MM-dd}-webapi.log" layout="Processing ${webapi-trace:operator=true}#${webapi-trace:operation=true} to ${webapi-trace:accepttype=true} (for ${webapi-trace:host=true} at ${longdate}) [${webapi-request:method=true}]${newline}Parameters: ${webapi-request:content=true}${newline}${message} [${webapi-request:uri=true}] | ${webapi-trace:statuscode=true} ${webapi-trace:status=true}${newline}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
  </rules>
</nlog>